:root{
  --main-color: #06b8be;
  --sekeon-color: #2c4755 ;
  --section-padding: 60px;
  --section-background: #f6f6f6;
  --main-duration: 0.5s;
}
*{
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
html{
  scroll-behavior: smooth;
}
body{
  font-family: "work sans" , "sans sreif";
}
.header{
   /* background-color: #EEE; */
   padding: 20px;
}

.container{

   padding-left: 15px;
   padding-right: 15px;
   margin-left: auto;
   margin-right: auto;
}

@media(min-width: 768px){
.container{
    width: 750px;
  }
}
@media(min-width:992px){
.container{
    width: 970px;
  }
}
@media(min-width:1200px){
  .container{
    width: 1170px;
  }
}

.header .logo{
  width: 60px;
}
.header .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .links{
  position: relative  ;
  z-index: 1;
}
.header .links .icon{
  width: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;

}
.header .links .icon span{
  background-color: #222;
  margin-bottom: 5px;
  transition: 0.4s;
  height: 2px;
}
.header .links:hover .icon span:nth-child(2){
  width: 100%;

}
.header .links .icon span:first-child{
  width: 100%;
}
.header .links .icon span:nth-child(2){
  width: 60%;
}

.header .links .icon  span:last-child{
  width: 100%;
}
.header .links ul{
  position: absolute;
  right: 0px;
  background-color: #f2f2f2;
  min-width: 200px;
  list-style: none;
  margin: 0px;
  padding: 0px;
  top: calc(100% + 15px);
  display: none;
  
}
.header .links ul::before{
  content: "";
  border-style: solid;
  border-width: 10px;
  border-color:  transparent transparent #f2f2f2 transparent;
  position: absolute;
  top: -20px;
  right: 5px;
}
.header .links:hover ul{
  display: block;
}
.header .links ul li a {
  display: block;
  text-decoration: none ;
  color: #222;
  transition: 0.3s;
  padding:  15px;
}
.header .links ul li a:hover{
  padding-left: 20px;
}
.header .links ul li:not(:last-child) a {

  border-bottom:  1px solid #c7c7c7;

}

.landing{
  background-image: url(../images/landing.jpg);
  background-size: cover;
  height: calc(100vh - 90px);
  position: relative;
}
.texth1{
  margin: 0px ;;
  padding: 0px ;
  font-weight: bold;
  font-size: 50px;
  color: var(--main-color);
}
.intro-text{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50% , -50%);
  -webkit-transform: translate(-50% , -50%);
  -moz-transform: translate(-50% , -50%);
  -ms-transform: translate(-50% , -50%);
  -o-transform: translate(-50% , -50%);
  text-align: center;
  width: 320px;
  max-width: 100%;
}
.landing .intro-text p{
  font-size: 20px;
  line-height: 1.8;
}

/* start features */
.features{
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: var(--section-background);
}
.features .container{
  display: grid;
  grid-template-columns: repeat(auto-fill ,minmax(300px , 1fr));
  grid-gap: 20px;
}
h3{
  margin: 30px 0px;
  font-weight: 800;
}
.feat {
  padding: 20px;
  text-align: center;
}
.feat i{
  color: var(--main-color);
  font-size: 48px;
}
.feat  p{
  line-height: 1.8;
  columns: #777;
  font-size: 17px;
}

/* end features */

/* start component */
.special-heading {
  text-align: center;
    font-size: 100px;
    padding-top: 60px;
    padding-bottom: 60px;
    color: #ebeced;
    letter-spacing: -5px;
    margin: 0px;
}
.special-heading + p  {
text-align: center;
color: #797979;
margin: -80px 0 0 0 ;

}
/* end component */
/* start services */
.services{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
  }
.services-content{
  display: grid;
  grid-template-columns: repeat(auto-fill ,minmax(300px , 1fr));
  grid-gap: 30px;
  margin-top: 100px;

}
.services-content .srv{
  display: flex;
  margin-bottom: 30px;
}
.services-content .srv h3{
  margin: 0 0 20px;

}
.services-content .srv p{
  color: #777;
  font-weight: 300;
}
@media (max-width: 767px){
  .services-content .srv{
    flex-direction: column;
    text-align: center;
    line-height: 1.6;
  }
.image-column{
  display: none;
}
}
.services-content .srv i {
  color: var(--main-color);
  flex-basis: 60px;
}
.services-content .srv .text{
  flex: 1;
}

.services .services-content .image{
  position: relative;
  text-align: center;
}

.image-column::before{
  content: '';
  background-color: var(--sekeon-color);
  position: absolute;
  height: calc(100% + 100px);
  width: 80px;
  top: -50px;
  z-index: -1;
  right: 0;
}
.image-column img{
  width: 260px;
}
@media (max-width: 1199px){
  .image-column{
    display: none ;
  }

}
/* end services */
/* start portfolio */
.portfolio{
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: var(--section-background);
}
.portfolio .portfolio-content{
  display: grid;
  grid-template-columns: repeat(auto-fill ,minmax(300px , 1fr));
  grid-gap: 30px;
  margin-top:  80px;
}
.portfolio-content .card{
  background-color: white;
}
.portfolio-content .card img{
  max-width: 100%;
}
.portfolio-content .card .info{
  padding: 20px;
}
.portfolio-content .card .info h3{
  margin: 0px;
}
.portfolio-content .card .info p{
 color: #777;
 line-height: 1.3;
 margin-bottom: 0;
}
/* end portfolio */
/* start about */
.about {
  padding-top: var(--section-padding);
  padding-bottom: calc(var(--section-padding) + 60px);
}
.about-content{
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (max-width: 991px){
  .about-content{
    flex-direction: column;
    text-align: center;
  }
}

.about-image{
  position: relative;
  width:250px ;
  height: 375px ;
}
@media (max-width: 991px){
  .about-image{
    margin: 0 auto 80px;
  }
}

.about-image img{
  max-width: 100%;
}

.about-image::before{
  content: "";
  position: absolute;
  background-color: #ebeced;
  width: 100px;
  height: calc(100% + 80px);
  top: -40px;
  left: -20px;
  z-index: -1;
}
.about-image::after{
  top: -40px;
  content: "";
  position: absolute;
  width: 120px;
  height: 300px;
  border-left: 80px solid var(--main-color);
  border-bottom: 80px solid var(--main-color);
  z-index: -1;
  right: -150px;
}
@media (max-width: 991px){
  .about-image::after , 
  .about-image::before{
    display: none;
  }
}
.about .about-content .text{
  flex-basis: calc(100% - 500px);
}
.about .about-content .text p:first-of-type{

  font-weight: bold;
  line-height: 2;
}
.about .about-content .text hr{
  display: inline-block;
  width: 50%;
  border-color: var(--main-color);

  
}
.about .about-content .text p:last-of-type{
  line-height: 2;
color: #777;
}
/* end about */
/* start contact */
.contact{
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: var(--section-background);
}
.contact .info{
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  text-align: center;
}
.contact .info .label{
  font-size: 35px;
  font-weight: 800;
 color: var(--sekeon-color);
 letter-spacing: -2px;
 margin-bottom: 15px;
}
.contact .info .link{
  display: block;
  font-size: 40px;
  text-decoration: none;
  color: var(--main-color);
}

.contact .info .social{
  font-size: 16px;
  margin-top: 15px;
}
.contact .info .social i{
  margin-left: 5px;
  color: var(--sekeon-color);
}
@media (max-width: 767px){
  .contact .info .link ,
  .contact .info .label{
    font-size: 25px;
  }
}
/* end contact */
/* start footer */
.footer{
  background-color: var(--sekeon-color);
  color: wheat;
  text-align: center;
  font-size: 20px;
  padding: 30px 20px;
}
span{
  font-weight: bold;
  color: var(--main-color);
}
/* end footer */